<img src="/assets/Header_shadow6.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width:100%;">

<section id="explore">
  <h2>Explore our database of career paths</h2>

  <div id="container" class="js-masonry"
       data-masonry-options='{ "columnWidth": 333, "itemSelector": ".item" }'>
    <% @jobs.first(3).each do |job| %>
        <% if !job.videos.first.nil? %>
            <div class="item">
              <h4><%= link_to job.title, job %></h4>
              <div class="img-cont">
                <iframe width="314" height="187" src="<%= job.videos.first.embed_url %>" frameborder="0" allowfullscreen></iframe><br/>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>

</section>

<a href="javascript:location.reload(true);document.location='/jobs'" class="btn btn-primary btn-medium">
  See more
</a>
<a class="btn btn-primary btn-large">
  Start the game !
</a>



