<div id=home-top>

  <div id="home-img">
    <!--<img src="/assets/Header_shadow6.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width:100%;">-->
  </div>
  <div id="home-btn">
    <!--    <h2>
          What kind of job are you <span>interested in ?</span>
        </h2>-->
    <!--<h1>Discover your potential. Find the right path. Explore now!</h1>-->
    <div class="nav-btn">
      <h3>Career Information</h3>
      <input src="/assets/suitcase.png" alt="careers" class="nav-icons" type="image" onclick="document.getElementById('categories').scrollIntoView();"/>
    </div>

    <div class="nav-btn">
      <h3>Inspiring People</h3>
      <input src="/assets/hero.png" alt="careers" class="nav-icons" type="image" onclick="document.getElementById('inspiration').scrollIntoView();"/>
    </div>

    <div class="nav-btn">
      <h3>A-chieve Events</h3>
      <input src="/assets/calendar.png" alt="careers" class="nav-icons" type="image" onclick="document.getElementById('achieve').scrollIntoView();"/>
    </div>

    <!--<p><center>Scroll down to learn more</center></p>
    <input src="/assets/down.png" id="scroll" alt="careers" type="image" onclick="document.getElementById('categories').scrollIntoView();"/>-->
  </div>
  <div>


  </div>
</div>


<section id="explore">

  <!--<div id="home-banner">

&lt;!&ndash;  <div id="nav-bar">
    <input src="/assets/suitcase.png" alt="careers" class="nav-icons" type="image" onclick="document.getElementById('categories').scrollIntoView();"/>
    <input src="/assets/hero.png" alt="careers" class="nav-icons" type="image" onclick="document.getElementById('categories').scrollIntoView();"/>
    <input src="/assets/calendar.png" alt="careers" class="nav-icons" type="image" onclick="document.getElementById('categories').scrollIntoView();"/>
  </div>&ndash;&gt;
        </div>-->

  <div id="categories">

    <h2> Explore our database of career paths</h2>
    <div id="container" class="js-masonry"
      data-masonry-options='{ "columnWidth": 333, "itemSelector": ".item" }'>
      <% @jobs.first(3).each do |job| %>
          <% if !job.videos.first.nil? %>
              <div class="item">
                <h4><%= link_to job.title, job %></h4>

                <div class="img-cont">
                  <iframe width="314" height="187" src="<%= job.videos.first.embed_url %>" frameborder="0" allowfullscreen></iframe><br/>
                </div>
                <% if !current_user.nil? && current_user.watched(job.id) %>
                    <img src="assets/check.png" alt="" style="  top: -20px; position: relative; left: 285px; height: 15%;  ">
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
    <a href="javascript:location.reload(true);document.location='/jobs'" class="btn btn-primary">
      See more...
    </a>
  </div>

  <div id="inspiration">

    <h2> Get inspired by success stories</h2>

    <div id="container" class="js-masonry"
         data-masonry-options='{ "columnWidth": 333, "itemSelector": ".item" }'>
      <div class="item">
        <img src="assets/success.png" alt="">
      </div>
      <div class="item">
        <img src="assets/success.png" alt="">
      </div>
      <div class="item">
        <img src="assets/success.png" alt="">
      </div>
    </div>
    <a href="javascript:location.reload(true);document.location='/jobs'" class="btn btn-primary">
      See more...
    </a>
  </div>

  <div id="achieve">

    <h2> Stay connected to A-chieve events</h2>

    <%= render 'calendar' %>

  </div>

</section>




