<div id="home-img">
  <!--<img src="/assets/Header_shadow6.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width:100%;">-->
</div>

<section id="explore">

  <div id="home-banner">

    <h2>
      What kind of job are you <span>interested in ?</span>
    </h2>
  </div>

  <div id="categories">
    <input src="/assets/down.png" alt="dn" style="width: 50px;
            display: block;margin-left: auto; margin-right: auto; margin-bottom: 5px;" type="image" onclick="document.getElementById('categories').scrollIntoView();"/>

    <h2> Explore our database of career paths</h2>
    <div id="container" class="js-masonry"
         data-masonry-options='{ "columnWidth": 333, "itemSelector": ".item" }'>
      <% @jobs.first(3).each do |job| %>
          <% if !job.videos.first.nil? %>
              <div class="item">
                <h4><%= link_to job.title, job %></h4>

                <div class="img-cont">
                  <iframe width="314" height="187" src="<%= job.videos.first.embed_url %>" frameborder="0" allowfullscreen></iframe><br/>
                </div>
                <% if !current_user.nil? && current_user.watched(job.id) %>
                    <img src="assets/check.png" alt="" style="  top: -20px; position: relative; left: 285px; height: 15%;  ">
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
    <a href="javascript:location.reload(true);document.location='/jobs'" class="btn btn-primary">
      See more...
    </a>
  </div>

  <div id="inspiration">
    <input src="/assets/down.png" alt="dn" style="width: 50px;
            display: block;margin-left: auto; margin-right: auto; margin-bottom: 5px;" type="image" onclick="document.getElementById('container').scrollIntoView();"/>

    <h2> Get inspired by success stories</h2>

    <div id="container" class="js-masonry"
         data-masonry-options='{ "columnWidth": 333, "itemSelector": ".item" }'>
      <div class="item">
        <img src="assets/success.png" alt="">
      </div>
      <div class="item">
        <img src="assets/success.png" alt="">
      </div>
      <div class="item">
        <img src="assets/success.png" alt="">
      </div>
    </div>

  </div>

  <div id="achieve">
    <input src="/assets/down.png" alt="dn" style="width: 50px;
            display: block;margin-left: auto; margin-right: auto; margin-bottom: 5px;" type="image" onclick="document.getElementById('container').scrollIntoView();"/>

    <h2> Stay connected to A-chieve events</h2>

  </div>

</section>




