<section id="search">
  <h2>
    Search for Career information
  </h2>
  <h4>
    Enter a profession's name or search for a specific video
  </h4>
  <form action="/" method="POST">
    <input name="search" type="text" placeholder="Architect, James Bond, etc." value="<%= @search %>"/>
    <input type="submit" class="btn btn-small btn-primary"/>
  </form>
</section>

<section id="explore">
  <h2>Explore our database of career paths</h2>

  <div id="container" class="js-masonry"
       data-masonry-options='{ "columnWidth": 333, "itemSelector": ".item" }'>
    <% @jobs.each do |job| %>
        <% if !job.videos.first.nil? %>
            <div class="item">
              <h4><%= link_to job.title, job %></h4>
              <div class="img-cont">
                <iframe width="314" height="187" src="<%= job.videos.first.embed_url %>" frameborder="0" allowfullscreen></iframe><br/>
              </div>
            </div>
        <% end %>
    <% end %>

  </div>
</section>


