<div style="height: 20px; background: #ffffff;"></div>

<h2>Our team</h2>
<img src="/assets/our_team.png" alt="" class="about">

<h2>Our story</h2>

<p style="width: 60%; margin: auto;">
  <strong>A-CHIEVE</strong> <br>
  ก่อตั้งขึ้นในฐานะกิจการเพื่อสังคมที่ต้องการช่วยให้เยาวชนไทยเติบโตขึ้นเป็นหนึ่งในบุคคลที่ประสบความสำเร็จ
  อันยิ่งใหญ่กับสิ่งที่ตนเองรักและมีความสุข เพราะการได้อยู่กับสิ่งที่เรารักทำให้อุปสรรคกลายเป็นเรื่องสนุก และความรักในสิ่งที่ทำ นำมาซึ่งความสำเร็จอย่างมากมาย ดังที่ได้เห็นตัวอย่างจากบุคคลที่ประสบความสำเร็จใหญ่หลวงจากทั่วโลก ดังนั้นเราในฐานะคนรุ่นใหม่ที่อยากเห็นเยาวชนของไทยค้นพบสิ่งที่ตนสนใจและหมกมุ่นอยู่กับสิ่งนั้นเพื่อพัฒนาและปลดปล่อยศักยภาพของตนเองอย่างเต็มที่
  <br><br>
  <strong>OUR VISION</strong> <br>
  มุ่งสร้างให้เยาวชนไทยเติบโตขึ้นเป็นบุคลากรที่มีคุณภาพ โดยเราจะทำให้เด็กมัธยมได้ค้นพบอาชีพที่ตนเองรัก เพื่อให้มีความสุขกับการพัฒนาตัวเองและการทำงาน อันจะทำให้พวกเขาสามารถปลดปล่อยศักยภาพของตนเองออกมาได้อย่างเต็มที่และสามารถรังสรรค์ประโยชน์ต่อสังคมและแบ่งปันให้คนรอบข้างได้ในอนาคต
   <br><br>
  <strong>OUR MISSION</strong> <br>
  มีพันธกิจในการสร้างนวัตกรรมทางสังคมที่เปิดโอกาสให้เด็กมัธยมไทยได้ทำความรู้จักกับตนเองให้มากขึ้น,
  ค้นหาแรงบันดาลใจ, พัฒนาทักษะในการใช้ชีวิตและการทำงานอีกทั้ง ทำความรู้จักกับอาชีพต่างๆในโลกของการทำงานจริง เพื่อให้พวกเขาเข้าใจและมองเห็นเส้นทางอนาคตของตนได้ชัดเจนมากขึ้น
</p> <br>
<img src="/assets/our_story.png" alt="" class="about">

<h2>Our approach</h2>
<img src="/assets/our_approach.png" alt="" class="about">

<!-- https://www.youtube.com/watch?v=zN2D3oAQ5iA -->