<div style="height: 20px; background: #ffffff;"></div>

<div style="background-color: #ffb060; margin-top:-20px; padding-top:20px;">
	<%= render 'calendar' %>
</div>

<!-- https://www.youtube.com/watch?v=zN2D3oAQ5iA -->