// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job-bloc {
	display:inline-block;
	vertical-align: top;
}

#search{
  input{
    width: 60%;
    height: 25px;
    margin-left: 15%;
    margin-right: 2%;
    margin-top: 20px;
  }
  a{
    //background-image: linear-gradient(rgb(50,100,200),rgb(40,80,180));
  }
  h2,h4{
    text-align: center;
  }
  h2{padding-top:30px;}

  .btn.btn-small.btn-primary{
    vertical-align: top;
    line-height: 28px;
    width: 65px;
    margin-left: 10px;
    height: 35px;
  }
  a:visited{color: #ffffff;}

  border-bottom: white 15px solid;
}

#explore{
  h2,h4{
    text-align: center;
  }
  h2{padding-top:25px;
    padding-bottom: 25px;
  }
  a{
    &:hover{
      color: black;
      background-color: white;
    }
  }
}

.item{
  width: 320px;
  height: 240px;
  background: white;
  overflow: hidden;
  margin-left: 6.5px;
  margin-bottom: 12px;
  border: darkgrey 1px solid;

  .img-cont{
    margin-left: 3px;
    width: 314px;
    height: 187px;
    overflow: hidden;
  }
  h3{
    text-align: center;
    margin: 5px;
  }
  .job-video{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
  }
}

.title{
  text-align: center;
}

#description{
  .img-cont{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    width: 314px;
    height: 225px;
    overflow: hidden;
    border: 1px solid gray;

    .item{
      border: none;
      width: 314px;
      margin-left: -1px;
      margin-top: 1px;
    }
  }
  p{
    display: inline-block;
    width: 625px;
    margin-left: 15px;
    text-align: justify;
  }
  padding-bottom: 15px;
  border-bottom: white 15px solid;
}
#videos{
  .job-video{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
  }
  p{
    span{
      font-size: 20px;
      font-weight: bold;
    }
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-left: 15px;
  }

  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: darkgrey 2px solid;
}