header{
  width: 100%;
  background: rgb(71,176,236);
  height: 60px;
  box-shadow: 0px 0px 25px;

  a{
    margin-left: 50px;
    font-size: 1.2em;

    color: white;
    &:hover{
      background: none;
      text-decoration: underline;
    }
  }

  #logo{
    margin-right: 25%;
    &:hover{
      background: none;
      color: transparent;
    }
  }

  img{
    margin: -30px;
    margin-left: 8%;
    height: 122px;
    width: auto;
  }

}

#page_block {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;

}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


footer{
  width:1100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(120,105,58,0.68);
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;

  a{
    color: white;
    border-right: dotted 1px white;
    padding-right: 10px;
    padding-left: 10px;
    &:hover{
      background: none;
    }
  }
}












p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.log{
  margin-left: 20px;
  margin-top: 50px;
}
h2{
  text-align: center;
}

.formblock{
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}