// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: digital_counter_7;
  src: url("/assets/stylesheets/digital_counter_7.ttf") format('truetype');
}

#avatar{

  margin: 20px;
  height: 300px;
  width: 250px;
  background: rgb(245,243,188);
  display: inline-block;
  text-align: center;

  img{
    position: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100%;
    width: auto;
  }
}

#badges{
  display: inline-block;
  background: rgb(220,220,220);
  height: 300px;
  width: 500px;
  margin: 20px;
  vertical-align: top;
  text-align: center;

  .badge{
    margin-left: 27px;
    margin-bottom: 25px;
    margin-top: 10px;
    float: left;
    display: block;
    height: 90px;
    width: 90px;
    border: 1px solid grey;
    border-radius: 45px;
  }
}

#points{
  display: inline-block;
  width: 300px;
  background: rgb(255,180,100);
  margin: 20px;
  height: 300px;
  text-align: center;
  vertical-align: top;
}

#meter{
  width: 220px;
  text-align: center;
  display: inline-block;
  margin-left:12px;


  #top{
    background: rgb(40,20,20);
    h2{margin: 0;}
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 40px;
    color: #ffffff;
    padding: 8px;
  }
  #down{
    background: rgb(200,10,10);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    vertical-align: middle;
    height: 40px;
    font-size: 35px;
    font-family: digital_counter_7;
    top: 5px;
    padding-top: 15px;
    color: #ffffff;
  }
}

h1{
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}

#personal{
  h2{text-align: left;}
}